{% liquid
  assign main_menu            = section.settings.main_menu
  assign sub_menu             = section.settings.sub_menu
  assign collection_link_text = section.settings.collection_link_text
  assign blocks               = section.blocks
  assign logo                 = section.settings.logo_image
  assign announcement         = section.settings.announcement
  assign announcement_title   = section.settings.announcement_title
  assign pnone_number         = section.settings.phone_number
%}

<div id="header" @click="$store.header.showSomething()">
  {% if announcement %}
    <div class="relative z-10 bg-black-primary text-white text-xs text-center p-2">
      {{ announcement_title }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "t:sections.header.name",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "checkbox",
        "id": "announcement",
        "label": "Announcement",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_title",
        "label": "Announcement title"
      },
      {
        "type": "paragraph",
        "content": "t:sections.header.settings.paragraph"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main menu"
      },
      {
        "type": "link_list",
        "id": "sub_menu",
        "label": "Sub-menu"
      },
      {
        "type": "text",
        "id": "collection_link_text",
        "label": "Collection link text",
        "default": "В каталог"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone number"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection",
            "info": "Коллекции привязанны к [элементам навигации](https://www.shopify.com/admin/menus) в порядке очередности. То есть первая коллекция выведется в выпадающем меню первого элемента навигации. Создайте блок, не выбирая коллекцию, если нет необходимости выводить коллекию в выпадающем меню"
          }
        ]
      }
    ]
  }
{% endschema %}