/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* @import "my-file"; */

@import "tailwindcss/utilities";

@import "_base";

body {
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
}
.bg-black-primary {
    background-color: #171717;
}
.p-2 {
    padding: 0.5rem; /* 8px */
}
.border-b {
    border-bottom-width: 1px;
}
.border-gray-additional {
    border-color: #E6E6E6;
}
.justify-between {
    justify-content: space-between;
}
.h-\[32px\] {
    height: 32px;
}
.h-\[52px\] {
    height: 52px;
}
.w-\[5px\] {
    width: 52px;
}
.w-\[32px\] {
    width: 32px;
}
.w-\[216px\] {
    width: 216px;
}
.w-1\/3 {
    width: 33.333333%;
}
.text-base {
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
}
.sticky {
    position: sticky;
}
.z-1000 {
    z-index: 1000;
}
.mr-0\.5 {
    margin-right: 0.125rem; /* 2px */
}
.mr-1 {
    margin-right: 0.25rem; /* 4px */
}
.mr-2 {
    margin: 0.5rem; /* 8px */
}
.mr-1\.5 {
    margin-right: 0.375rem; /* 6px */
}
.leading-\[42px\] {
    line-height: 42px;
}
.pt-\[19px\] {
    padding-top: 19px;
}
.pl-\[164px\] {
    padding-left: 164px;
}
.pr-\[164px\] {
    padding-right: 164px;
}
.pb-\[30px\] {
    padding-bottom: 30px;
}
.leading-\[55px\] {
    line-height: 55px;
}
.mr-\[17px\] {
    margin-right: 17px;
}
.container {
    padding: 0 16px;
}
.justify-end {
    justify-content: flex-end;
}
.hidden {
    display: none;
}
.pl-2 {
    padding-left: 0.5rem; /* 8px */
}
.border-none {
    border-style: none;
}
.max-height-\[26px\] {
    max-height: 26px;
}
.w-auto {
    width: auto;
}
.tracking-\[-0\.6px\] {
    letter-spacing: -0.6px;
}
.tracking-\[-1\.4px\] {
    letter-spacing: -1.4px;
}
.invisible {
    visibility: hidden;
}
.visible {
    visibility: visible;
}
.opacity-0 {
    opacity: 0;
}
.opacity-100 {
    opacity: 1;
}
.translate-x-\[-full\] {
    transform: translateX(-100%);
}
.translate-x-0 {
    transform: translateX(0px);
}
.min-width-\[350px\] {
    min-width: 350px;
}
.min-width-\[375px\] {
    min-width: 375px;
}
.text-black-primary {
    color: #171717;
}
@media (min-width: 680px) {
    .container {
        padding-inline: 16px;
    }
}
.cursor-pointer {
    cursor: pointer;
}
.border-1 {
    border-width: 1px;
}
@media (min-width: 767px) {
    .md-1\:h-\[55px\] {
        height: 55px;
    }
    .md-1\:w-1\/3 {
        width: 33.333333%;
    }
    .md-1\:border-none {
        border-style: none;
    }
    .container {
        padding: 0 52px;
    }
}
