/**
 * entry file for Tailwind CSS
 * and other style files
 */
@import "tailwindcss/base";
@import "tailwindcss/components";

/* @import "my-file"; */

@import "tailwindcss/utilities";

@import "_base";

.bg-black-primary {
    background-color: #171717;
}

.p-2 {
    padding: 0.5rem; /* 8px */
}

body {
    font-family: "Harmonia Sans Pro Cyr", sans-serif;
}
